.row {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.row div {
  border: 1px solid teal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.row input {
  border: 1px solid teal;
}

.team-info {
  flex-direction: column;
}

.team-info p {
  margin: 0;
}

.edit-cell {
  display: flex;
  height: 56px;
}

.edit-cell input {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  height: 32px;
  /* border-radius: 8px; */
  margin-right: 0.5em;
}

.edit-cell button {
  height: 36px;
}
