#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  height: 100%;
  margin-top: 20em;
  font-family: Open Sans;
}

.app {
  display: grid;
  grid-template-columns: 65% 35%;
}

header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #96efda;
}

footer {
  bottom: 0;
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  padding-top: 1rem;
  place-content: center;
  position: fixed;
  width: 100%;
  background-color: #7cc9b7;
  height: 4vh;
}

.nav-container {
  display: flex;
}

section {
  height: 5vh;
  margin-left: 4em;
  margin-right: 4em;
  cursor: pointer;
}

section p {
  font-size: x-small;
  margin: 0;
}

.nav-container img {
  height: 3vh;
}

.calendar-container {
  border: 2px solid saddlebrown;
}
